###############################################
# USERS MODULE - API ENDPOINTS - EXAMPLE FILE
###############################################
# Copy this file to users.http and configure tokens in .vscode/settings.json
# users.http is gitignored for security
#
# There is no user directory: the users that can be added to an event are the members of its group,
# see groups.http.example.

###############################################
# GET CURRENT USER PROFILE
###############################################
GET {{baseUrl}}/users/me
Authorization: Bearer {{token}}
